// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild                    ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

#app-mount .base-3dtUhz {margin-top: 40px;}

// Background
.scroller-1Bvpku {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    margin-bottom: 40px;
}
    
.wrapper-3NnKdC {
    background: transparent !important;
}