/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                               Theme Settings                                              ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                Theme Info                                                 ║ */
/* ╠══════════════════════════╦════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ Your Theme Name                                                                ║ */
/* ║ Version:                 ║ 1.0.0                                                                          ║ */
/* ║ Author:                  ║ Discord Username#0000                                                          ║ */
/* ║ Compatible Clients:      ║ Ex. BetterDiscord, Powercord, Goosemod, Vizality, Stylus                       ║ */
/* ╠══════════════════════════╩════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                               Description                                                 ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ This is place to write a description for your theme.                                                      ║ */
/* ║                                                                                                           ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                  Info                                                     ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                           ║ */
/* ║ More information about BetterDiscord can be found here:                                                   ║ */
/* ║ ● https://betterdiscord.app/                                                                              ║ */
/* ║                                                                                                           ║ */
/* ║ More information about Powercord can be found here:                                                       ║ */
/* ║ ● https://powercord.dev/                                                                                  ║ */
/* ║                                                                                                           ║ */
/* ║ More information about Goosemod can be found here:                                                        ║ */
/* ║ ● https://goosemod.com/                                                                                   ║ */
/* ║                                                                                                           ║ */
/* ║ More information about Vizality can be found here:                                                        ║ */
/* ║ ● https://vizality.com/                                                                                   ║ */
/* ║                                                                                                           ║ */
/* ║ More information about Stylus can be found here:                                                          ║ */
/* ║ ● https://add0n.com/stylus.html                                                                           ║ */
/* ║                                                                                                           ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                               Support                                                     ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                           ║ */
/* ║ If you need support join our Community Server:                                                            ║ */
/* ║ ● Your Invite Link                                                                                        ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                   Symbols                                                 ║ */
/* ╠════╦══════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 💬 ║ Comments                                                                                             ║ */
/* ╠════╬══════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 🧪 ║ Experimental                                                                                         ║ */
/* ╠════╬══════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ ✔️ ║ Enabled by Defualt                                                                                   ║ */
/* ╠════╬══════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ ❌ ║ Disabled by Defualt                                                                                  ║ */
/* ╠════╬══════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ ⚠️ ║ Do not Disable!!                                                                                     ║ */
/* ╚════╩══════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                 General                                                   ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 💬 Here you make general adjustments. Ex. Margin, Padding, Fonts, Height, Width, etc.                     ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  --placeholder: 00px;
}

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                               Dark Theme                                                  ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 💬 Here you make general adjustments to darkmode. Ex. Colors                                              ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-dark {
    --placeholder: 00px;
}

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                Light Theme                                                ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 💬 Here you make general adjustments to lightmode. Ex. Colors                                             ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-light  {
    --placeholder: 00px;
}

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                 Source                                                    ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ ⚠️ Do not comment out these lines! By disabling the theme can not work correctly.                         ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

                                        /* 💬 Add your code here */

/* ╔═══════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║                                                 Custom                                                    ║ */
/* ╠═══════════════════════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ 💬 Here you make custom adjustments to all of discord.                                                    ║ */
/* ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

                                        /* 💬 Add your custom code here (Ex. Snippets) */
                                        